.main{
    width: 100%;
    display: flex;
    padding: 32px 40px;
    gap: 17px;
    border-radius: 6px;
}
.success{
    background-color: #E1F9F0;
    border-left: 6px solid #34D399;
}
.success{
    background-color: #fecaca;
    border-left: 6px solid #b91c1c;
}